<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-9 mx-auto">
      <div class="text-center text-md-start">
        <h1 class="fw-bold">Requisições Para Meu Departamento</h1>
          <div class="d-grid gap-2 d-md-block mt-4">
            <a
              role="button"
              class="btn btn-outline-secondary col-md-2"
              routerLink="/painel">
              <i class="pi pi-arrow-left me-2"></i>Voltar
             </a>
          </div>

          <section id="tabela">
            <div class="card text-bg-dark border-secondary mt-3 rounded-4 w-100 fs-6">
              <div class="card-body">
                <table class="table table-dark table-hover">
                  <thead class="thead-ligth fs-5 text-center">
                    <tr>
                      <th>Data de Abertura</th>
                      <th>Departamento</th>
                      <th>Descrição</th>
                      <th>Equipamento</th>
                      <th>Status</th>
                      <th>Última Atualização</th>
                    </tr>
                  </thead>
                  <tbody class="text-center">
                    <tr *ngFor="let requisicao of (requisicoes$ | async)">
                      <td class="align-middle">{{ requisicao.dataAbertura.toDate() | date: "dd/MM/yyyy HH:mm" }}</td>
                      <td class="align-middle">{{ requisicao.departamento?.nome }}</td>
                      <td class="align-middle">{{ requisicao.descricao }}</td>
                      <td class="align-middle">{{ requisicao.equipamento ? requisicao.equipamento.nome : "Não Informado" }}</td>
                      <td class="align-middle">{{ requisicao.status }}</td>
                      <td class="align-middle">{{ requisicao.ultimaAtualizacao.toDate() | date: "dd/MM/yyyy HH:mm" }}</td>
                      <td class="d-grid d-md-block align-middle">
                        <button
                          [routerLink]="['/requisicoes', requisicao.id]"
                          type="button"
                          class="btn btn-outline-info me-0 me-md-1 mb-1 mb-md-auto">
                          <i class="pi pi-info"></i>
                        </button>

                        <button
                          type="button"
                          (click)="gravar(modal, requisicao)"
                          class="btn btn-warning">
                          <i class="pi pi-sort-alt"></i>
                      </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </section>

      </div>
    </div>
  </div>
</div>

<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Movimentação de Requisição</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('fechar')"></button>
  </div>
    <form [formGroup]="form" (ngSubmit)="modal.close('gravar')">
      <div class="modal-body">

        <div class="form-group mb-3 position-relative">
          <label for="funcionario" class="form-label">Funcionário Solicitante:</label>
          <p class="text-secondary fw-semibold">{{funcionarioLogado.nome}}</p>
        </div>

        <div class="form-group mb-3 position-relative">
          <label for="equipamentoId" class="form-label">Equipamento:</label>
          <p class="text-secondary fw-semibold">{{requisicaoSelecionada.equipamento? requisicaoSelecionada.equipamento.nome : "Não Informado"}}</p>
        </div>

        <div class="form-group mb-3 position-relative">
          <label for="descricaoSolicitacao" class="form-label">Descrição da Solicitação:</label>
          <p class="text-secondary fw-semibold">{{requisicaoSelecionada.descricao}}</p>
        </div>

        <hr>
        <div class="form-group mb-3 position-relative">
          <label for="status" class="form-label">Status:</label>
          <ng-select
            placeholder="Status da requisição"
            [searchable]="false"
            [clearable]="false"
            a
            class="w-50"
            formControlName="status"
            [items]="listaStatus">
          </ng-select>
        </div>

        <div class="form-group mb-3 position-relative">
          <label for="descricaoMovimentacao" class="form-label">Descrição da Movimentação:</label>
          <textarea formControlName="descricaoMovimentacao"
            class="form-control"
            type="text"
            placeholder="Digite a descrição da movimentação">
          </textarea>
        </div>

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-dark col-md-3" [disabled]="this.form.invalid">Gravar</button>
        <button type="button" class="btn btn-outline-dark col-md-3" (click)="modal.dismiss('fechar')">Cancelar</button>
      </div>
    </form>
</ng-template>

