<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-9 mx-auto">
      <div class="text-center text-md-start">
        <h1 class="fw-bold">Minhas Requisições</h1>
          <div class="d-grid gap-2 d-md-block mt-4">
            <button
              (click)="gravar(modal)"
              type="button"
              class="btn btn-secondary me-md-1 col-md-2">
              <i class="pi pi-plus me-2"></i>Inserir
            </button>
            <a
              role="button"
              class="btn btn-outline-secondary col-md-2"
              routerLink="/painel">
              <i class="pi pi-arrow-left me-2"></i>Voltar
             </a>
          </div>

        <section id="tabela">
          <div class="card text-bg-dark border-secondary mt-3 rounded-4 w-100 fs-6">
            <div class="card-body">
              <table class="table table-dark table-hover">
                <thead class="thead-ligth fs-5 text-center">
                  <tr>
                    <th>Data de Abertura</th>
                    <th>Departamento</th>
                    <th>Descrição</th>
                    <th>Equipamento</th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  <tr *ngFor="let requisicao of (requisicoes$ | async)">
                    <td class="align-middle">{{ requisicao.dataAbertura.toDate() | date: "dd/MM/yyyy HH:mm"}}</td>
                    <td class="align-middle">{{ requisicao.departamento?.nome }}</td>
                    <td class="align-middle">{{ requisicao.descricao }}</td>
                    <td class="align-middle">{{ requisicao.equipamento?.nome }}</td>
                    <td class="d-grid d-md-block align-middle">
                      <button
                        [routerLink]="['/requisicoes', requisicao.id]"
                        type="button"
                        class="btn btn-outline-info me-0 me-md-1 mb-1 mb-md-auto">
                        <i class="pi pi-info"></i>
                      </button>
                      <button
                        type="button"
                        (click)="gravar(modal, requisicao)"
                        class="btn btn-outline-warning me-0 me-md-1 mb-1 mb-md-auto">
                        <i class="pi pi-pencil"></i>
                      </button>

                      <button
                        (click)="excluir(requisicao)"
                        type="button"
                        class="btn btn-outline-danger me-0 me-md-1 mb-1 mb-md-auto">
                        <i class="pi pi-trash"></i>
                    </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ tituloModal }} de Requisição</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('fechar')"></button>
  </div>
    <form [formGroup]="form" (ngSubmit)="modal.close('gravar')">
      <div class="modal-body">

        <div class="form-group mb-3 position-relative">
          <label for="departamentoId" class="form-label">Departamento:</label>
          <ng-select formControlName="departamentoId"
            [ngClass]="(departamentoId?.touched && departamentoId?.invalid) ? 'is-invalid' : ''"
            [clearable]="false"
            [searchable]="false">
            <ng-option
              *ngFor="let departamento of (departamentos$ | async)"
              [value]="departamento.id">
              {{ departamento.nome }}
            </ng-option>
          </ng-select>
          <div class="invalid-tooltip" *ngIf="departamentoId?.touched && departamentoId?.invalid">
            <span *ngIf="departamentoId?.errors?.['required']" >O departamento precisa ser selecionado</span>
          </div>
        </div>

        <div class="form-group mb-3 position-relative">
          <label for="equipamentoId" class="form-label">Equipamento:</label>
          <ng-select formControlName="equipamentoId"
            [ngClass]="(equipamentoId?.touched && equipamentoId?.invalid) ? 'is-invalid' : ''"
            [clearable]="false"
            [searchable]="false">
            <ng-option
              *ngFor="let equipamento of (equipamentos$ | async)"
              [value]="equipamento.id">
              {{ equipamento.nome }}
            </ng-option>
          </ng-select>
        </div>

        <div class="form-group mb-3 position-relative">
          <label for="descricao" class="form-label">Descrição:</label>
          <textarea formControlName="descricao"
            [ngClass]="(descricao?.touched && descricao?.invalid) ? 'is-invalid' : ''"
            class="form-control"
            type="text"
            placeholder="Digite a descrição da requisição"></textarea>
            <div class="invalid-tooltip" *ngIf="descricao?.touched && descricao?.invalid">
              <span *ngIf="descricao?.errors?.['required']" >A descrição precisa ser preenchida</span>
              <span *ngIf="descricao?.errors?.['minlength']" >A descrição precisa ter no mínimo 5 caracteres</span>
            </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-dark col-md-3" [disabled]="this.form.invalid">Gravar</button>
        <button type="button" class="btn btn-outline-dark col-md-3" (click)="modal.dismiss('fechar')">Cancelar</button>
      </div>
    </form>
</ng-template>
